body {
  font-family: sans-serif;
}
.App {
  text-align: center;
}

.brand-logo {
  margin-left: 10px;
}

.authform {
  border: 2px dotted mediumaquamarine;
  width: 300px;
  margin: 0 auto;
  text-align: center;
}
